---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout
  title="Contact"
  description="Contact Thomas Manch for tips, story ideas, or media inquiries."
>
  <h1>Contact me</h1>
  <p>Phone (including Whatsapp and Signal): +64 27 406 3671</p>
  <p>Email: <a href="mailto:thomas.manch@nzme.co.nz">thomas.manch@nzme.co.nz</a></p>
  </p>
</BaseLayout>
