---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="How to talk to a journalist | Thomas Manch">
  <h1>Want to talk to a journalist?</h1>
 <ul>
    <li>My job is made possible because people are willing to talk to me and share information, so I encourage you to get in touch.</li>
    <li>Newstips are often interesting and useful second-hand information or gossip. It can take more to make such intel reportable.</li>
    <li>To stack up a story, I look for documents that are credible, sources who can share first-hand information or are close to an issue and can point me in the right direction.</li>
    <li>Information and allegations need to be verifiable and cross-checked to be reported.</li>
    <li>I take the anonymity of sources seriously. When getting in touch, please consider how sharing information may risk exposing you. Use devices that are not connected to an employer. Install Signal messenger. Consider photographing sensitive documents on your computer screen instead of sending the digital file.</li>
  </ul>

  <h2>The ground rules</h2>
  <p>Talking to a journalist doesn't have to be intimidating, but there are some fundamental rules to keep in mind:</p>
  <ul>
    <li>You can approach me to talk confidentially.</li>
    <li>Otherwise, conversations are generally assumed to be <strong>on the record</strong>. This means what is said can be quoted, attributed, and published.</li>
    <li>If we agree to talk <strong>on background</strong>, this means what is said can be published and possibly quoted, but without attribution by name.</li>
    <li>If we're <strong>off the record</strong>, what is discussed is not for quoting or publication, but is helpful for informing my reporting.</li>
  </ul>

  <h2>What journalism is, and what it isn't</h2>
  <ul>
    <li>Journalism is the practice of providing newsworthy, fact-driven, context-rich reporting to the public. It can also be fun and entertaining.</li>
    <li>I always strive for accuracy, balance, and fairness. Being a human endeavour, mistakes happen. I always promptly correct any errors.</li>
    <li>I follow the ethics common to quality journalism everywhere. Stories I write and quotes given are not approved by the subjects of my reporting. Journalism should not be mistaken for activism or protest. My reporting is non-partisan. Analysis and opinion writing is marked as such.</li>
    <li>You cannot pay to be interviewed, or for a story to be written.</li>
    <li>If funding is received to assist with the expense of reporting a story, or if a "familiarisation" or "junket" is taken, this will be adequately disclosed.</li>
  </ul>

</BaseLayout>
