---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="How to talk to a journalist | Thomas Manch">
  <h1>Want to talk to a journalist?</h1>

  <h2>How to help a reporter</h2>
  <ul>
    <li>My job is made possible because people are willing to talk to me and share information, so I encourage you to get in touch if you have something worth sharing.</li>
    <li>Newstips are routinely second-hand information or gossip, which is interesting and helpful. But often it takes more to make such intel reportable.</li>
    <li>To stack up a story, I look for documents that are credible, sources who can share first-hand information, or others who are close to an issue and can point me in the right direction.</li>
    <li>Importantly, information and allegations I report need to be verifiable and cross-checked.</li>
    <li>I take the anonymity of sources seriously. When getting in touch, please consider how sharing information may risk exposing you. Use devices that are not connected to an employer. Install Signal messenger. Consider photographing sensitive documents on your computer screen instead of sending the digital file.</li>
  </ul>

  <h2>The ground rules</h2>
  <p>Talking to a journalist doesn't have to be intimidating, but there are some fundamental rules to keep in mind:</p>
  <ul>
    <li>I'm happy to talk confidentially. But unless such agreement is reached, conversatons are assumed to be <strong>on the record</strong>. This means what is said can be quoted, attributed, and published.</li>
    <li>If we agree to talk <strong>on background</strong>, this means what is said can be published and possibly quoted, but without attribution by name.</li>
    <li>If we're <strong>off the record</strong>, what is discussed is not for quoting or publication, but is helpful for informing my reporting.</li>
  </ul>

  <h2>What journalism is, and what it isn't</h2>
  <ul>
    <li>To me, journalism is the practice of providing newsworthy, fact-driven, context-rich reporting to the public. It can also be fun and entertaining, of course.</li>
    <li>I always strive for accuracy, balance, and fairness. Journalism is also a human endeavour, however, so mistakes happen. I always aim to promptly correct any errors.</li>
    <li>I follow the ethics common to quality journalism everywhere. Stories I write and quotes given are not approved by the subjects of my reporting. Journalism should not be mistaken for activism or protest. My reporting is non-partisan. Analysis and opinion writing is marked as such.</li>
    <li>You cannot pay to be interviewed, or for a story to be written.</li>
    <li>If funding is received to assist with the expense of reporting a story, or a "famil" or "junket" is taken, this will be adequately disclosed.</li>
  </ul>

</BaseLayout>
