---
import BaseLayout from "../layouts/baselayout.astro";
import { writing } from "../data/writing";

const items = [...writing].sort((a, b) => b.date.localeCompare(a.date));
---

<BaseLayout title="Writing | Thomas Manch">
  <h1>My work</h1>
  <p>
    I've been reporting for BusinessDesk since November 2025. A full list of my work can be found here
    <a href="https://businessdesk.co.nz/journalist/thomas-manch?page=1" target="_blank" rel="noopener noreferrer">found here</a>.
  </p>
  <p>
    So far I've been covering
    <a href="https://businessdesk.co.nz/article/infrastructure/nzta-to-test-assumptions-about-second-auckland-harbour-crossing" target="_blank" rel="noopener noreferrer">major projects</a>
    and the
    <a href="https://businessdesk.co.nz/article/infrastructure/private-investment-appears-crucial-for-marsden-point-rail-spur" target="_blank" rel="noopener noreferrer">politics around them</a>,
    the 
    <a href="https://businessdesk.co.nz/article/infrastructure/court-battles-significant-cost-expected-with-retrospective-regulatory-relief-regime-in-rma-reform" target="_blank" rel="noopener noreferrer">RMA reforms</a>
    and 
    <a href="https://businessdesk.co.nz/article/policy/auckland-plan-change-could-roll-over-beyond-rma-reform" target="_blank" rel="noopener noreferrer">policy shifts</a>,
    and am 
    <a href="https://businessdesk.co.nz/article/primary-sector/preparations-for-fast-tracked-waihi-mine-expansion-to-begin-straight-away" target="_blank" rel="noopener noreferrer">tracking the movements</a>
    of 
    <a href="https://businessdesk.co.nz/article/infrastructure/taranaki-industry-alliance-aiming-for-major-infrastructure-defence-contracts" target="_blank" rel="noopener noreferrer">companies in the sector</a>.
  </p>
  <p>
    At <i>The Post</i>, I wrote a lot about politics and covered numerous Budgets and two elections (2020, 2023).
    I reported on 
    <a href="https://www.thepost.co.nz/politics/360838281/winston-peters-did-not-ask-foreign-ministry-opinion-palestine-decision" target="_blank" rel="noopener noreferrer">foreign policy</a>,
  
    <a href="https://www.thepost.co.nz/politics/360770994/year-eu-trade-deal-delivers-billion-dollar-boost-nz" target="_blank" rel="noopener noreferrer">trade</a>,
    and 
    <a href="https://www.thepost.co.nz/politics/350442772/manawanui-sinking-disaster-more-ways-one" target="_blank" rel="noopener noreferrer">defence</a>
    from 
    <a href="https://www.stuff.co.nz/national/politics/130492020/nz-seeks-greater-trade-with-vietnam-as-china-dependency-causes-concern" target="_blank" rel="noopener noreferrer">Southeast Asia</a>,
    
    <a href="https://www.thepost.co.nz/politics/360727754/capitalist-roader-cuts-deals-communist-china" target="_blank" rel="noopener noreferrer">China</a>,
    and 
    <a href="https://www.thepost.co.nz/politics/360739447/eu-president-backs-luxons-eu-cptpp-push" target="_blank" rel="noopener noreferrer">Europe</a>.
    I've been fortunate to cover trade missions, a Pacific Island Forum leaders' meeting, a Shangri-La dialogue,
    two Nato leaders' summits, and Apec. I also covered 
    <a href="https://www.thepost.co.nz/politics/360521247/if-looks-could-kill-winston-peters-would-be-dead" target="_blank" rel="noopener noreferrer">infrastructure</a>,
   
    <a href="https://www.thepost.co.nz/politics/360774549/about-40-water-entities-emerging-government-water-regime" target="_blank" rel="noopener noreferrer">water</a>,
    and 
    <a href="https://www.thepost.co.nz/politics/350389696/lay-land-2025-local-government-elections-becomes-clear" target="_blank" rel="noopener noreferrer">local government</a>
    policy.
  </p>
  <p>
    On occasion, I have written columns about a 
    <a href="https://www.stuff.co.nz/national/politics/124387831/covid19-blame-and-fear-for-the-team-of-five-million-as-pm-pleads-for-compliance" target="_blank" rel="noopener noreferrer">reporting</a>
    
    <a href="https://www.thepost.co.nz/politics/360623468/dealing-dark-heart-american-berserk" target="_blank" rel="noopener noreferrer">subject</a>.
  </p>
</BaseLayout>
